{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
    {% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <div class="parallax-container" style="height: 100%">
    <div class="parallax"><img src="{% static 'movie_background.jpg' %}"></div>
    <div class="container">
        <div class="card-panel z-depth-0 grey darken-4">
            <div class="input-field">
                <form action="{% url 'movie:search' %}" method="get">
                    <i class="prefix material-icons">search</i>
                    <input type="text" class="col s6 autocomplete" name="movie" placeholder="Find movies" style="color: white">
                </form>
            </div>

            <div class="card grey darken-3">
                <h5 class="collection-header">Now Playing</h5>
                <div class="card-content">
                    <div class="row">
                        {% for movie in hits %}
                        <div class="col s2">
                            <a href="/movie/{{ movie.id }}">
                                <img src="https://image.tmdb.org/t/p/w154{{ movie.poster_path }}">
                            </a>
                            <p><a href='/movie/{{ movie.id }}'>{{ movie.title }} ({{ movie.ratings.0.code }})</a></p>
                        </div>
                        {% if forloop.counter|divisibleby:6 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}