{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
    {% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>

    <div class="card-panel z-depth-0">
        <div class="container">
            <div class="input-field">
                <form action="{% url 'movie:search' %}" method="get">
                    <i class="prefix material-icons">search</i>
                    <input type="text" class="col s6 autocomplete" name="movie" placeholder="Find movies">
                </form>
            </div>
            <div id="now-playing-movies" class="collection with-header">
                <h5 class="collection-header">Now Playing</h5>
                {% for movie in hits %}
                    <a href='#' class='collection-item'>{{ movie.title }} ({{ movie.ratings.0.code }})</a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
