{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
{% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s4">

            </div>
            <div class="col s8">
                <p>Director:</p>
                <p>Editor:</p>
                <p>Cast:</p>
                <p>Genre:</p>
                <p>Region:</p>
                <p>Language:</p>
                <p>Release Date:</p>
                <p>Duration:</p>
                <p>IMDB:</p>
            </div>
        </div>
    </div>
{% endblock %}
