{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
    {% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <p></p>
            <div class="col s4">
                <img src="https://image.tmdb.org/t/p/w342{{ poster_path }}">
            </div>
            <div class="col s8">
                <h5>{{ title }}</h5>
                <p>Director: {% for director in directors %}{{ director }} / {% endfor %}</p>
                <p>Writer: {% for writer in writers %}{{ writer }} / {% endfor %}</p>
                <p>Cast:</p>
                <p>Genres: {% for genre in genres %}{{ genre.name }} / {% endfor %}</p>
                <p>Region: {% for region in production_countries %}{{ region.name }} / {% endfor %}</p>
                <p>Language: {{ original_language }}</p>
                <p>Release Date: {{ release_date }}</p>
                <p>Duration: {{ runtime }} min</p>
                <p>IMDB: <a href="http://www.imdb.com/title/{{ imdb_id }}">{{ imdb_id }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-title">Description</div>
                <div class="card-content">{{ overview }}</div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-title">Cast</div>
                <div class="card-content"></div>
            </div>
        </div>
    </div>
{% endblock %}
