{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
    {% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <div class="parallax-container" id="page_parallax">
    <div class="parallax"><img src="{% static 'assets/bg/music_bg_vrtcl.jpg' %}"></div>
        <div class="container">
            <div class="card-panel z-depth-0 grey darken-4">
            <div class="input-field">
                <form action="{% url 'music:search' %}" method="get">
                    <i class="prefix material-icons">search</i>
                    <input type="text" class="col s6 white-text" name="music" placeholder="Find album">
                </form>
            </div>
            <div class="card grey darken-2">
                <h5 class="collection-header">New Releases</h5>
                <div class="card-content">
                    <div class="row">
                        {% for album in albums.items %}
                        <div class="col s4">
                            <a href="{% url 'music:music' musicid=album.id %}">
                                <img src="{{ album.images.1.url }}" class="hoverable">
                            </a>
                            <p><a href='{% url 'music:music' musicid=album.id %}'>{{ album.name }}</a></p>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
