{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
    {% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/music.js' %}"></script>

    <div class="container">
        <div class="row">
            <p></p>
            <div class="col s4">
                <img src="{{ images.1.url }}">
            </div>
            <div class="col s7">
                <h5>{{ name }}</h5>
                <p>Artist: {% for artist in artists %}{{ artist.name }} / {% endfor %}</p>
                <p>Genres: {% for genre in genres %}{{ genre.name }} / {% endfor %}</p>
                <p>Type: {{ album_type }}</p>
                <p>Release Date: {{ release_date }}</p>
                <p>Label: {{ label }}</p>
                <p>External URLs: <a href="{{ external_urls.spotify }}">Spotify</a></p>
            </div>
            <div id="add_to_wishlist" class="col s1">
                <input type="hidden" id="user_wishlist" value={{ wishlist }}>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-title col s2">My Comment</div>
                <br>
                <div class="card-content">
                    <input type="hidden" id="prev_rate" value={{ user_comment.rate }}>
                    <input type="hidden" id="music_id" value={{ id }}>
                    <div class="my-rating jq-stars"></div>
                    <div class="input-field">
                        <label for="music_comment">Comment</label>
                        <input id="music_comment" type="text" class="validate">
                    </div>
                    <a class="waves-effect waves-light btn" onclick="">Submit</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card collection with-header">
                <h5 class="collection-header">Tracks</h5>
                {% for track in tracks.items %}
                <div class="collection-item">{{ track.track_number }}. {{ track.name }}</div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
