{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
    {% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/music.js' %}"></script>
    <div class="parallax-container" style="height: 100%">
    <div class="parallax"><img src="{% static 'assets/bg/music_bg_vrtcl.jpg' %}"></div>
    <div class="container">
        <div class="card-panel grey darken-4">
        <div class="row">
            <div class="col s4">
                <img src="{{ images.1.url }}" style="max-width: 100%;max-height: 100%;width: auto;height: auto;">
            </div>
            <div class="col s6">
                <h5>{{ name }}</h5>
                <p>Artist: {% for artist in artists %}{{ artist.name }} / {% endfor %}</p>
                <p>Genres: {% for genre in genres %}{{ genre.name }} / {% endfor %}</p>
                <p>Type: {{ album_type }}</p>
                <p>Release Date: {{ release_date }}</p>
                <p>Label: {{ label }}</p>
                <p>External URLs: <a href="{{ external_urls.spotify }}"><img src="{% static 'assets/spotify.png' %}"></a></p>
            </div>
            <div class="col s2">
                {% if rater_num > 0 %}
                    <h4 style="display: inline;">{{ avg_rate }}</h4><p style="display: inline;"> / 10</p>
                    <p>{{ rater_num }}</p>
                {% else %}
                    <p>Needs More Ratings</p>
                {% endif %}
                <div id="add_to_wishlist">
                    <input type="hidden" id="user_wishlist" value={{ wishlist }}>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="card collection with-header grey darken-4">
                <h5 class="collection-header grey darken-4">My Comment</h5>
                <div class="card-content grey darken-4">
                    <input type="hidden" id="prev_rate" value={{ user_comment.rate }}>
                    <input type="hidden" id="music_id" value={{ id }}>
                    <div class="row my-rating jq-stars"></div>
                    <div id="my_comment" class="row">
                        <p class="white-text">{{ user_comment.comment }}</p>
                        <p class="right-align grey-text">{{ user_comment.date }}</p>
                    </div>
                    <form action="{% url 'music:music' musicid=id %}" method='post'>
                    <div class="input-field">
                        {% csrf_token %}
                        <label for="music_comment">Comment</label>
                        <input id="music_comment" name="comment" type="text" class="validate white-text">
                    </div>

                    <button class="waves-effect waves-light btn" type="submit" name="action">Submit</button>
                    {% if user_comment != None %}
                        <a class="waves-effect waves-light btn" id="dlt-cmmnt-btn">Delete</a>
                    {% endif %}
                    </form>
                    <a href="{% url 'music:read_comment' musicid=id %}" style="float: right;">Read more comments</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card collection with-header grey darken-4">
                <h5 class="collection-header grey darken-4">Tracks</h5>
                {% for track in tracks.items %}
                <div class="collection-item grey darken-4" style="height: 100px; width: 95%;">
                    <iframe src="https://open.spotify.com/embed?uri={{ track.uri }}"
                            height="100%" width="100%" frameborder="0" allowtransparency="true">
                    </iframe>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
