{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
{% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center teal-text text-lighten-2">Awesome Mix</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Share the world in your eyes</h5>
                </div>

                <!-- <div class="row center">
                <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                </div> -->
            </div>
        </div>
        <div class="parallax"><img src="{% static 'background1.jpg' %}" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">movie</i></h2>
                    <h5 class="center"><a href="{% url 'movie:homepage' %}">Movie</a></h5>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">music_note</i></h2>
                    <h5 class="center"><a href="{% url 'music:homepage' %}">Music</a></h5>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">book</i></h2>
                    <h5 class="center">Book</h5>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
                        "I come from Earth, a planet of outlaws: Billie the Kid, Bonnie and Clyde, John Stamos."
                    </h5>
                    <h5 class="headr col s6 offset-s6 light">
                        —— Peter Quill
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'background2.jpg' %}" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Easily accessible data</h5>
                    <p class="light">Get the movies, songs and books info you're looking for immediately. You'll
                        find more stuffs from people with similar interests.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Find awesome communities</h5>
                    <p class="light">Hundreds of groups with interesting topics are waiting for you. Join the
                        groups and talk about what you're interested in.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Mark and share</h5>
                    <p class="light">You can rate movies, music and books you've seen. Write down what you're
                        thinking and share it with people. The community keeps growing because of you.</p>
                </div>
            </div>
        </div>
        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">
                        "We are all in the gutter, but some of us are looking at the stars."
                    </h5>
                    <h5 class="headr col s6 offset-s6 light">
                        —— Oscar Wilde
                    </h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{% static 'background3.jpg' %}" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About Awesome Mix</h5>
                    <p class="grey-text text-lighten-4">In honor of the great mix-tape of StarLord in Guardians
                        of the Galaxy, we built up this for interests in collections and sharing. We're just
                        tiny stardust in the universe, but we treasure everything and everyone we love in our lives.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="white-text" href="{% url 'movie:homepage' %}">Movie</a></li>
                        <li><a class="white-text" href="{% url 'music:homepage' %}">Music</a></li>
                        <li><a class="white-text" href="#!">Book</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Support</h5>
                    <ul>
                        <li><a class="white-text" href="mailto:zhilinh@andrew.cmu.edu">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                Powered by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
                | © 2018 <a class="brown-text text-lighten-3" href="https://zhilinh.github.io/">Zhilin Huang</a>
            </div>
        </div>
    </footer>
{% endblock %}