{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
{% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/profile.js' %}"></script>
    <div class="parallax-container" style="height: 800px">
        <div class="parallax"><img src="{% static 'assets/bg/profile_background.jpg' %}"></div>
        <div class="container">
        <div class="card-panel grey darken-4">
            <div class="row">
                <div class="col s4">
                    <!-- "p" tag for alignment -->
                    <p class="center-align"><img src="{% static 'assets/scotty.jpg' %}" alt="" class="circle responsive-img"></p>
                    <input id="bio_text" type="hidden" value="{{ bio }}">
                    <div id="bio_div">
                        <p id="bio_content">{{ bio }}</p>
                        {% if current_user == user %}
                            <a id="edit_btn" class="btn" onclick=editBio()>Edit</a>
                        {% endif %}
                    </div>
                    <hr class="mb-4">
                    {% if current_user != user %}
                        <p class="center-align"><a class="waves-effect waves-light btn">Follow</a></p>
                    {% endif %}
                </div>
                <div class="col s8">
                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4"><a>Movie Watchlist</a></div>
                        <div class="card-content">
                            {% for movie in movie_watchlist %}
                                <a href="/movie/{{ movie.id }}">
                                <img src="http://image.tmdb.org/t/p/w92/{{ movie.poster_path }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4"><a>Movie Watched</a></div>
                        <div class="card-content">
                            {% for movie in movie_watched %}
                                <a href="/movie/{{ movie.id }}">
                                <img src="http://image.tmdb.org/t/p/w92/{{ movie.poster_path }}">
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}