{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block user-info %}
{% include "homepage/nav.html" %}
{% endblock %}

{% block content %}
    <script src="{% static 'js/profile.js' %}"></script>
    <div class="parallax-container" id="page_parallax">
        <div class="parallax"><img src="{% static 'assets/bg/profile_background.jpg' %}"></div>
        <div class="container">
        <div class="card-panel grey darken-4">
            <div class="row">
                <div class="col s4">
                    <!-- "p" tag for alignment -->
                    <form enctype="multipart/form-data" action="{% url 'homepage:profile' username=user %}" method="post">
                    {% csrf_token %}
                    <div class="file-field" style="height: 250px; width: 250px;">
                        {% if img == "" %}
                        <img src="{% static 'assets/scotty.jpg' %}" alt="" class="circle responsive-img hoverable">
                        {% else %}
                        <img src="{{ img }}" alt="" class="circle responsive-img hoverable">
                        {% endif %}
                        {% if current_user == user %}
                        <input type="file" name="img" accept="image/*" onchange="form.submit()"/>
                        {% endif %}
                    </div>
                    </form>
                    <input id="bio_text" type="hidden" value="{{ bio }}">
                    <div id="bio_div">
                        <p id="bio_content">{{ bio }}</p>
                        {% if current_user == user %}
                            <a id="edit_btn" class="btn" onclick=editBio()>Edit</a>
                        {% endif %}
                    </div>
                    <hr class="mb-4">
                </div>
                <div class="col s8">
                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4">Movie Watchlist</div>
                        <div class="card-content">
                            {% for movie in movie_watchlist %}
                                <a href="{% url 'movie:movie' movieid=movie.id %}">
                                <img src="http://image.tmdb.org/t/p/w92/{{ movie.poster_path }}" class="hoverable">
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4">Movie Watched</div>
                        <div class="card-content">
                            {% for movie in movie_watched %}
                                <a href="{% url 'movie:movie' movieid=movie.id %}">
                                <img src="http://image.tmdb.org/t/p/w92/{{ movie.poster_path }}" class="hoverable">
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4">Album Playlist</div>
                        <div class="card-content">
                            {% for album in album_playlist %}
                                <a href="{% url 'music:music' musicid=album.id %}">
                                    {% if album.poster_path != None %}
                                        <img src="{{ album.poster_path }}" class="hoverable">
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4">Album Collection</div>
                        <div class="card-content">
                            {% for album in album_collection %}
                                <a href="{% url 'music:music' musicid=album.id %}">
                                    {% if album.poster_path != None %}
                                        <img src="{{ album.poster_path }}" class="hoverable">
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4">Reading List</div>
                        <div class="card-content">
                            {% for book in reading_list %}
                                <a href="{% url 'book:book' bookid=book.id %}">
                                    {% if book.poster_path != None %}
                                        <img src="{{ book.poster_path }}" width="92" height="138" class="hoverable">
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card z-depth-0 grey darken-3">
                        <div class="card-title col s4">Book Read</div>
                        <div class="card-content">
                            {% for book in book_read %}
                                <a href="{% url 'book:book' bookid=book.id %}">
                                    {% if book.poster_path != None %}
                                        <img src="{{ book.poster_path }}" width="92" height="138" class="hoverable">
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}